<main>
    <div class="container">
      <section class="profile">
        <div class="sidebar">
         
          <ul>
            <li><a href="#"><i class="fas fa-user"></i> Dados Pessoais</a></li>
            <li><a href="#"><i class="fas fa-heart"></i> Favoritos</a></li>
            <li><a href="#"><i class="fas fa-lock"></i> Autenticação</a></li>
            <li><a href="#"><i class="fas fa-bell"></i> Notificações</a></li>
            <li><a href="#"><i class="fas fa-door-open"></i> Sair</a></li>
          </ul>
        </div>
  
        <div class="profile__left">
          <div class="img_nome">
            <img src="images/profile.png" alt="Foto do usuário" class="profile-image">
            <div class="profile-name-edit">
              <h2>Catarine Santos</h2>
              <p>Barueri, SP</p>
              <a class="edit-profile"  >✎ Editar Perfil</a>
            </div>
          </div>
  
          <div class="profile-info">
            
            <div class="profile-info-line">
              <i class="fas fa-envelope"></i> <strong>E-mail:</strong>
              <span>catarine.sntsmail.com</span>
            </div>
            <div class="profile-info-line">
              <i class="fas fa-phone"></i> <strong>Telefone:</strong>
              <span>55 11 97456-6329</span>
            </div>
            <div class="profile-info-line">
              <i class="fas fa-birthday-cake"></i> <strong>Data de Nascimento:</strong>
              <span>25/08/2000</span>
            </div>
            <div class="profile-info-line">
              <i class="fas fa-venus"></i> <strong>Gênero:</strong>
              <span>Feminino</span>
            </div>
          </div>
  
          <div class="profile-social">
            <strong>Adicionar:</strong>
            <div class="social-icons">
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-facebook"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
  